PORT=3000
NODE_ENV=development
SESSION_SECRET=cambia-esta-clave-en-desarrollo
FRONTEND_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://julianmcm.github.io

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=root
DB_NAME=playcoredb
DB_PORT=3306
